
<head>
	<title>CMPT470 Project</title>

</head>

<body>
	<div class = "home">
	<h1 class = "home-header"> Orbit Watcher </h1>

	<p class = "text">Orbit watcher is a website dedicated to keep track of multiple satelites and display them on maps.</p>	
	<button type="button" class="btn btn-info btn-lg">Learn More</button>

	</div>
</body>
