
<head>
	<title>CMPT470 Project</title>

</head>

<body>
	<div class = "home">
	<h1 class = "home-header"> Orbit Watcher </h1>
	<p class = "text"> New visitor please make an account with the sign in function and existing user please sign in to view your satellites </p>	
	
	
	<%= image_tag("manual1.png", :alt => "Log in now"), width: '50px' %>
	
	<p class = "text"> to view data about all our satellite database please click All Satellites </p>
	
	<%= image_tag("manual2.png", :alt => "Satellite database"), width: '50px' %>
	
	<p class = "text"> For general inquires about the site please go to the About page </p>
	
	<%= image_tag("manual3.png", :alt => "About Page"), width: '50px' %>
	<button type="button" class="btn btn-info btn-lg"> Continue </button>

	</div>
</body>
