// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Application {
  text-decoration: underline;
  font-weight: bold
}

.container-box-about {
  width:270px;
  border: 1px solid #ccc;
  padding: 0.01em 16px;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    padding-left: 16px;
  border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#descrip_title {
  margin-left: 12px
}

#descrip_text {
  margin-left: 24px
}
