meta charset="utf-8"
title = 'CMPT470 Project'
script src='//maps.google.com/maps/api/js?key=AIzaSyD99jebxgP-E8MULiokOoiJBs0dU1UnD1w'
script src='//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'application'

